.quiz-container {
    margin: 50px auto;
    max-width: 600px;
}

.question {
    font-weight: bold;
}

.options label {
    display: block;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.mcq-title {
    font-weight: bold;
    font-size: 20px;
}

.btn-success {
    color: #fff;
    background-color: #13a733;
    border-color: #13a733;
}

.btn-success:focus,
.btn-success.focus {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 .2rem rgba(55, 114, 255, .5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 .2rem rgba(55, 114, 255, .5)
}

.btn-success.disabled,
.btn-success:disabled {
    color: #fff;
    background-color: #3772ff;
    border-color: #3772ff
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #044eff;
    background-image: none;
    border-color: #0049f6
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-success.dropdown-toggle:focus {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125), 0 0 0 .2rem rgba(55, 114, 255, .5);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125), 0 0 0 .2rem rgba(55, 114, 255, .5)
}

.quiz-item {
    font-size: 20px;
}